body {
    font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Helvetica Neue",Helvetica, Arial, sans-serif
}

.vertical-gap {
    margin-top: 5px;
    margin-bottom: 5px;
}

.horizontal-gap {
    margin-left: 5px;
    margin-left: 5px;
}

.error-msg {
    padding-top: 7px;
    font-size: 13px;
    color: #a94442;
}

ul.operation {
    margin: 0;
    padding: 0;
}

ul.operation li {
    margin: 0 5px;
    display: inline-block;
}

.dialog {
    display: none;
    padding-left: 15px;
    padding-right: 15px;
}